#footer {
  background-color: #000;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >ul {
      display: flex;

      >li {
        margin: 7px;

        >a {
          color: white;
        }
      }
    }

    >p {
      color: white;
      font-size: 12px;
    }
  }
}