<link rel="stylesheet" href="./components/footer/footer.css">

<div class="footer">
  <ul>
    <li><a href="">公司简介</a></li>
    <li><a href="">关于我们</a></li>
    <li><a href="">产品下载</a></li>
    <li><a href="">加入我们</a></li>
    <li><a href="">联系我们</a></li>
    <li><a href="">商务合作</a></li>
    <li><a href="">用户协议</a></li>
    <li><a href="">隐私政策</a></li>
    <li><a href="">网站地图</a></li>
    <li><a href="">友情链接</a></li>
  </ul>

  <p>2002-2023 达内时代科技集团有限公司(TARENA INTERNATIONAL,INC.) 版权所有京ICP证8000853号-56 京公网安备 11010802029508号</p>
</div>